.radialRepeating {
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    /* min-height: 200px; */
    border: 3px solid;
    padding: 0.3rem;
    border-width: 15px;
    border-image: repeating-radial-gradient(circle at 10px,
            rgb(64, 192, 224),
            brown 2px,
            rgb(42, 155, 42) 4px,
            rgb(110, 74, 80) 2px) 1;
}

.magical {
    text-align: center;
    margin: auto;
    font-family: cursive;
    font-size: 24px;
    border: 8px solid black;
    padding: 0.4rem;
    padding-bottom: 0;
    padding-top: 0.4rem;
    /* min-height: 3em; */
    width: fit-content;
    resize: both;
    background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
}